.authenView {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/preview/08.jpg?3") no-repeat;
    background-size: cover;
    background-position: center;
}
